.container {
    display: grid;
    grid-template-rows: .2fr 2fr 50px;
    grid-template-columns: .5fr 2fr;
    grid-template-areas: 
                        "nav nav"
                        "aside main"
                        "footer footer";
    height: 100vh;
}

@media screen and (max-width:600px){
    .container{
        grid-template-rows: .2fr .1fr 2fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "nav"
                        "aside"
                        "main"
                        "footer";
    }
}