.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

@media screen and (max-width:600px){
    .aside {
        padding: 30px;
    }
}